<a href="https://colab.research.google.com/github/aalr007/iayaa-Equipo-19/blob/main/Reto/.Reto1_LimpiezaAn%C3%A1lisisVisualizaci%C3%B3nKmeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import numpy as np
import pandas as pd
import seaborn as sns

In [64]:
# Cargamos el archivo que está en la siguiente carpeta de Google-Colab:

dfSub = pd.read_csv('https://raw.githubusercontent.com/PosgradoMNA/actividades-del-projecto-equipo21/main/Reto/Datos_de_calidad_del_agua_de_sitios_de_monitoreo_de_aguas_subterraneas_2020.csv', sep=',', encoding='latin-1')

dfSup = pd.read_csv('https://raw.githubusercontent.com/PosgradoMNA/actividades-del-projecto-equipo21/main/Reto/Datos_de_calidad_del_agua_de_sitios_de_monitoreo_de_aguas_superficiales_2020.csv',sep=',', encoding='latin-1')

In [31]:
dfSub.head()

,CLAVE,SITIO,ORGANISMO_DE_CUENCA,ESTADO,MUNICIPIO,ACUIFERO,SUBTIPO,LONGITUD,LATITUD,PERIODO,...,CUMPLE_CON_DUR,CUMPLE_CON_CF,CUMPLE_CON_NO3,CUMPLE_CON_AS,CUMPLE_CON_CD,CUMPLE_CON_CR,CUMPLE_CON_HG,CUMPLE_CON_PB,CUMPLE_CON_MN,CUMPLE_CON_FE
0,DLAGU6,POZO SAN GIL,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,ASIENTOS,VALLE DE CHICALOTE,POZO,-102.02210,22.20887,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
1,DLAGU6516,POZO R013 CAÑADA HONDA,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,AGUASCALIENTES,VALLE DE CHICALOTE,POZO,-102.20075,21.99958,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
2,DLAGU7,POZO COSIO,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,COSIO,VALLE DE AGUASCALIENTES,POZO,-102.28801,22.36685,2020,...,SI,SI,SI,NO,SI,SI,SI,SI,SI,SI
3,DLAGU9,POZO EL SALITRILLO,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,RINCON DE ROMOS,VALLE DE AGUASCALIENTES,POZO,-102.29449,22.18435,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
4,DLBAJ107,RANCHO EL TECOLOTE,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LA PAZ,TODOS SANTOS,POZO,-110.24480,23.45138,2020,...,SI,SI,NO,SI,SI,SI,SI,SI,SI,SI

In [32]:
dfSup.head()

,CLAVE,SITIO,ORGANISMO_DE_CUENCA,ESTADO,MUNICIPIO,CUENCA,CUERPO DE AGUA,TIPO,SUBTIPO,LONGITUD,...,CONTAMINANTES,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC,CUMPLE_CON_OD,CUMPLE_CON_TOX,GRUPO
0,DLAGU8,PRESA EL SAUCILLO 100M AGUAS ARRIBA DE LA CORTINA,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,RINCON DE ROMOS,RIO SAN PEDRO,PRESA EL SAUCILLO,LENTICO,PRESA,-102.33911,...,"DQO,CF,",SI,NO,SI,NO,SI,ND,SI,SI,LENTICO
1,DLBAJ100,"LOS CABOS SEG 22, 2 ISA10B",PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN JOSE DEL CABO,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.84290,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
2,DLBAJ101,"LOS CABOS SEG 22, 1 ISA10B",PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.86442,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
3,DLBAJ102,LOS CABOS 3,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.88604,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
4,DLBAJ103,LOS CABOS 1,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.89657,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO

In [33]:
dfSub.describe()

          LONGITUD      LATITUD  PERIODO     ALC_mg/L  CONDUCT_mS/cm  SDT_mg/L
count  1068.000000  1068.000000   1068.0  1064.000000    1062.000000       0.0
mean   -101.891007    23.163618   2020.0   235.633759    1138.953013       NaN
std       6.703263     3.887670      0.0   116.874291    1245.563674       NaN
min    -116.664250    14.561150   2020.0    26.640000      50.400000       NaN
25%    -105.388865    20.212055   2020.0   164.000000     501.750000       NaN
50%    -102.174180    22.617190   2020.0   215.527500     815.000000       NaN
75%     -98.974716    25.510285   2020.0   292.710000    1322.750000       NaN
max     -86.864120    32.677713   2020.0  1650.000000   18577.000000       NaN

In [34]:
dfSup.describe()

,LONGITUD,LATITUD,PERIODO,TOX_D_48_FON_UT,CALIDAD_TOX_D_48_FON,TOX_FIS_FON_15_UT,CALIDAD_TOX_FIS_FON_15
count,3493.000000,3493.000000,3493.0,0.0,0.0,0.0,0.0
mean,-100.359969,21.046992,2020.0,NaN,NaN,NaN,NaN
std,6.122773,3.893696,0.0,NaN,NaN,NaN,NaN
min,-117.124030,14.534910,2020.0,NaN,NaN,NaN,NaN
25%,-103.882310,18.396070,2020.0,NaN,NaN,NaN,NaN
50%,-99.795530,20.148980,2020.0,NaN,NaN,NaN,NaN
75%,-96.860230,22.828930,2020.0,NaN,NaN,NaN,NaN
max,-86.732150,32.706500,2020.0,NaN,NaN,NaN,NaN

In [35]:
dfSub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 57 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CLAVE                 1068 non-null   object
 1   SITIO                 1068 non-null   object
 2   ORGANISMO_DE_CUENCA   1068 non-null   object
 3   ESTADO                1068 non-null   object
 4   MUNICIPIO             1068 non-null   object
 5   ACUIFERO              1068 non-null   object
 6   SUBTIPO               1068 non-null   object
 7   LONGITUD              1068 non-null   float64
 8   LATITUD               1068 non-null   float64
 9   PERIODO               1068 non-null   int64
 10  ALC_mg/L              1064 non-null   float64
 11  CALIDAD_ALC           1064 non-null   object
 12  CONDUCT_mS/cm         1062 non-null   float64
 13  CALIDAD_CONDUC        1062 non-null   object
 14  SDT_mg/L              0 non-null      float64
 15  SDT_M_mg/L            1066 non-null   object
 16  CALIDAD_SDT_ra        1066 non-null   object
 17  CALIDAD_SDT_salin     1066 non-null   object
 18  FLUORUROS_mg/L        1068 non-null   object
 19  CALIDAD_FLUO          1068 non-null   object
 20  DUR_mg/L              1067 non-null   object
 21  CALIDAD_DUR           1067 non-null   object
 22  COLI_FEC_NMP/100_mL   1068 non-null   object
 23  CALIDAD_COLI_FEC      1068 non-null   object
 24  N_NO3_mg/L            1067 non-null   object
 25  CALIDAD_N_NO3         1067 non-null   object
 26  AS_TOT_mg/L           1068 non-null   object
 27  CALIDAD_AS            1068 non-null   object
 28  CD_TOT_mg/L           1068 non-null   object
 29  CALIDAD_CD            1068 non-null   object
 30  CR_TOT_mg/L           1068 non-null   object
 31  CALIDAD_CR            1068 non-null   object
 32  HG_TOT_mg/L           1068 non-null   object
 33  CALIDAD_HG            1068 non-null   object
 34  PB_TOT_mg/L           1068 non-null   object
 35  CALIDAD_PB            1068 non-null   object
 36  MN_TOT_mg/L           1068 non-null   object
 37  CALIDAD_MN            1068 non-null   object
 38  FE_TOT_mg/L           1068 non-null   object
 39  CALIDAD_FE            1068 non-null   object
 40  SEMAFORO              1068 non-null   object
 41  CONTAMINANTES         634 non-null    object
 42  CUMPLE_CON_ALC        1068 non-null   object
 43  CUMPLE_CON_COND       1068 non-null   object
 44  CUMPLE_CON_SDT_ra     1068 non-null   object
 45  CUMPLE_CON_SDT_salin  1068 non-null   object
 46  CUMPLE_CON_FLUO       1068 non-null   object
 47  CUMPLE_CON_DUR        1068 non-null   object
 48  CUMPLE_CON_CF         1068 non-null   object
 49  CUMPLE_CON_NO3        1068 non-null   object
 50  CUMPLE_CON_AS         1068 non-null   object
 51  CUMPLE_CON_CD         1068 non-null   object
 52  CUMPLE_CON_CR         1068 non-null   object
 53  CUMPLE_CON_HG         1068 non-null   object
 54  CUMPLE_CON_PB         1068 non-null   object
 55  CUMPLE_CON_MN         1068 non-null   object
 56  CUMPLE_CON_FE         1068 non-null   object
dtypes: float64(5), int64(1), object(51)
memory usage: 475.7+ KB

In [61]:
dfSup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4141 entries, 0 to 4140
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CLAVE                   3493 non-null   object
 1   SITIO                   3493 non-null   object
 2   ORGANISMO_DE_CUENCA     3493 non-null   object
 3   ESTADO                  3493 non-null   object
 4   MUNICIPIO               3493 non-null   object
 5   CUENCA                  3492 non-null   object
 6   CUERPO DE AGUA          3479 non-null   object
 7   TIPO                    3493 non-null   object
 8   SUBTIPO                 3479 non-null   object
 9   LONGITUD                3493 non-null   float64
 10  LATITUD                 3493 non-null   float64
 11  PERIODO                 3493 non-null   float64
 12  DBO_mg/L                2581 non-null   object
 13  CALIDAD_DBO             2581 non-null   object
 14  DQO_mg/L                2581 non-null   object
 15  CALIDAD_DQO             2581 non-null   object
 16  SST_mg/L                3489 non-null   object
 17  CALIDAD_SST             3489 non-null   object
 18  COLI_FEC_NMP_100mL      2582 non-null   object
 19  CALIDAD_COLI_FEC        2582 non-null   object
 20  E_COLI_NMP_100mL        2582 non-null   object
 21  CALIDAD_E_COLI          2582 non-null   object
 22  ENTEROC_NMP_100mL       904 non-null    object
 23  CALIDAD_ENTEROC         904 non-null    object
 24  OD_PORC                 1797 non-null   object
 25  CALIDAD_OD_PORC         1797 non-null   object
 26  OD_PORC_SUP             1619 non-null   object
 27  CALIDAD_OD_PORC_SUP     1619 non-null   object
 28  OD_PORC_MED             487 non-null    object
 29  CALIDAD_OD_PORC_MED     487 non-null    object
 30  OD_PORC_FON             946 non-null    object
 31  CALIDAD_OD_PORC_FON     946 non-null    object
 32  TOX_D_48_UT             1816 non-null   object
 33  CALIDAD_TOX_D_48        1816 non-null   object
 34  TOX_V_15_UT             1819 non-null   object
 35  CALIDAD_TOX_V_15        1819 non-null   object
 36  TOX_D_48_SUP_UT         762 non-null    object
 37  CALIDAD TOX_D_48_SUP    762 non-null    object
 38  TOX_D_48_FON_UT         0 non-null      float64
 39  CALIDAD_TOX_D_48_FON    0 non-null      float64
 40  TOX_FIS_SUP_15_UT       1674 non-null   object
 41  CALIDAD_TOX_FIS_SUP_15  1674 non-null   object
 42  TOX_FIS_FON_15_UT       0 non-null      float64
 43  CALIDAD_TOX_FIS_FON_15  0 non-null      float64
 44  SEMAFORO                3493 non-null   object
 45  CONTAMINANTES           2226 non-null   object
 46  CUMPLE_CON_DBO          3493 non-null   object
 47  CUMPLE_CON_DQO          3493 non-null   object
 48  CUMPLE_CON_SST          3493 non-null   object
 49  CUMPLE_CON_CF           3493 non-null   object
 50  CUMPLE_CON_E_COLI       3493 non-null   object
 51  CUMPLE_CON_ENTEROC      3493 non-null   object
 52  CUMPLE_CON_OD           3493 non-null   object
 53  CUMPLE_CON_TOX          3493 non-null   object
 54  GRUPO                   3493 non-null   object
dtypes: float64(7), object(48)
memory usage: 1.7+ MB

In [62]:
dfSub.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

SUBTIPO                 4.946629
LONGITUD             -101.891007
LATITUD                23.163618
PERIODO              2020.000000
ALC_mg/L              235.633759
CALIDAD_ALC             0.673221
CONDUCT_mS/cm        1138.953013
CALIDAD_CONDUC          2.045880
SDT_mg/L                     NaN
CALIDAD_SDT_ra          1.855805
CALIDAD_SDT_salin       0.985019
CALIDAD_FLUO            1.445693
CALIDAD_DUR             1.128277
CALIDAD_COLI_FEC        3.088015
CALIDAD_N_NO3           1.662921
CALIDAD_AS              1.647004
CALIDAD_CD              0.998127
CALIDAD_CR              0.985955
CALIDAD_HG              0.999064
CALIDAD_PB              0.988764
CALIDAD_MN              0.114232
CALIDAD_FE              0.127341
dtype: float64

In [63]:
dfSup.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

LONGITUD                  -100.359969
LATITUD                     21.046992
PERIODO                   2020.000000
TOX_D_48_FON_UT                   NaN
CALIDAD_TOX_D_48_FON              NaN
TOX_FIS_FON_15_UT                 NaN
CALIDAD_TOX_FIS_FON_15            NaN
dtype: float64

Tomaremos las aguas subterraneas sin razón en especial

comenzaremos la limpieza de datos por columnas

In [73]:
#limpiamos
from sklearn.preprocessing import LabelEncoder
 
dfSubLimpio=dfSub

ColumnasOrdinales = ['SUBTIPO','CALIDAD_ALC','CALIDAD_CONDUC','CALIDAD_SDT_ra','CALIDAD_SDT_salin',
                     'CALIDAD_FLUO','CALIDAD_DUR','CALIDAD_COLI_FEC','CALIDAD_N_NO3','CALIDAD_AS',
                     'CALIDAD_CD','CALIDAD_CR','CALIDAD_HG','CALIDAD_PB','CALIDAD_MN','CALIDAD_FE']

# Creating a instance of label Encoder.
le = LabelEncoder()

In [74]:
# Using .fit_transform function to fit label
# encoder and return encoded label
for k in range(len(ColumnasOrdinales)):

  label = le.fit_transform(dfSubLimpio[ColumnasOrdinales[k]])
  dfSubLimpio[ColumnasOrdinales[k]]=label

In [76]:
#removemos los < de las columnas y reemplazaremos por 0 por que son valores menores a los que importan
ColumnasCuantitativas=['SDT_M_mg/L','FLUORUROS_mg/L','DUR_mg/L','COLI_FEC_NMP/100_mL','N_NO3_mg/L','AS_TOT_mg/L',
                       'CD_TOT_mg/L','CR_TOT_mg/L','HG_TOT_mg/L','PB_TOT_mg/L','MN_TOT_mg/L','FE_TOT_mg/L']
k=0
for k in range(len(ColumnasCuantitativas)):
  dfSubLimpio[ColumnasCuantitativas[k]]=dfSubLimpio[ColumnasCuantitativas[k]].replace(np.nan, 0)

In [77]:
dfSubLimpio.describe()

,SUBTIPO,LONGITUD,LATITUD,PERIODO,ALC_mg/L,CALIDAD_ALC,CONDUCT_mS/cm,CALIDAD_CONDUC,SDT_mg/L,CALIDAD_SDT_ra,...,CALIDAD_DUR,CALIDAD_COLI_FEC,CALIDAD_N_NO3,CALIDAD_AS,CALIDAD_CD,CALIDAD_CR,CALIDAD_HG,CALIDAD_PB,CALIDAD_MN,CALIDAD_FE
count,1068.000000,1068.000000,1068.000000,1068.0,1064.000000,1068.000000,1062.000000,1068.000000,0.0,1068.000000,...,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000,1068.000000
mean,4.946629,-101.891007,23.163618,2020.0,235.633759,0.673221,1138.953013,2.045880,NaN,1.855805,...,1.128277,3.088015,1.662921,1.647004,0.998127,0.985955,0.999064,0.988764,0.114232,0.127341
std,0.435059,6.703263,3.887670,0.0,116.874291,1.194706,1245.563674,1.874895,NaN,1.186378,...,0.849183,1.420075,0.615827,0.680372,0.043254,0.117731,0.030600,0.105452,0.410800,0.333511
min,0.000000,-116.664250,14.561150,2020.0,26.640000,0.000000,50.400000,0.000000,NaN,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,-105.388865,20.212055,2020.0,164.000000,0.000000,501.750000,0.000000,NaN,1.000000,...,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
50%,5.000000,-102.174180,22.617190,2020.0,215.527500,0.000000,815.000000,2.000000,NaN,2.000000,...,1.000000,4.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
75%,5.000000,-98.974716,25.510285,2020.0,292.710000,1.000000,1322.750000,4.000000,NaN,3.000000,...,1.000000,4.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,7.000000,-86.864120,32.677713,2020.0,1650.000000,4.000000,18577.000000,5.000000,NaN,5.000000,...,4.000000,4.000000,3.000000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000

In [83]:
ColumnasCuantitativasMedia=['ALC_mg/L','CONDUCT_mS/cm']

K=0
for k in range(len(ColumnasCuantitativasMedia)):
  dfSubLimpio[ColumnasCuantitativasMedia[k]].fillna(dfSubLimpio[ColumnasCuantitativasMedia[k]].mean(), inplace=True)

In [84]:
dfSubLimpio.isna().any()

CLAVE                   False
SITIO                   False
ORGANISMO_DE_CUENCA     False
ESTADO                  False
MUNICIPIO               False
ACUIFERO                False
SUBTIPO                 False
LONGITUD                False
LATITUD                 False
PERIODO                 False
ALC_mg/L                False
CALIDAD_ALC             False
CONDUCT_mS/cm           False
CALIDAD_CONDUC          False
SDT_mg/L                 True
SDT_M_mg/L              False
CALIDAD_SDT_ra          False
CALIDAD_SDT_salin       False
FLUORUROS_mg/L          False
CALIDAD_FLUO            False
DUR_mg/L                False
CALIDAD_DUR             False
COLI_FEC_NMP/100_mL     False
CALIDAD_COLI_FEC        False
N_NO3_mg/L              False
CALIDAD_N_NO3           False
AS_TOT_mg/L             False
CALIDAD_AS              False
CD_TOT_mg/L             False
CALIDAD_CD              False
CR_TOT_mg/L             False
CALIDAD_CR              False
HG_TOT_mg/L             False
CALIDAD_HG              False
PB_TOT_mg/L             False
CALIDAD_PB              False
MN_TOT_mg/L             False
CALIDAD_MN              False
FE_TOT_mg/L             False
CALIDAD_FE              False
SEMAFORO                False
CONTAMINANTES            True
CUMPLE_CON_ALC          False
CUMPLE_CON_COND         False
CUMPLE_CON_SDT_ra       False
CUMPLE_CON_SDT_salin    False
CUMPLE_CON_FLUO         False
CUMPLE_CON_DUR          False
CUMPLE_CON_CF           False
CUMPLE_CON_NO3          False
CUMPLE_CON_AS           False
CUMPLE_CON_CD           False
CUMPLE_CON_CR           False
CUMPLE_CON_HG           False
CUMPLE_CON_PB           False
CUMPLE_CON_MN           False
CUMPLE_CON_FE           False
dtype: bool